
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">

<div class="container-fluid">

    <a href="#" class="navbar-brand">FiveFingers</a>


    <!-- Boton para el menu movil -->

    <button 

        class="navbar-toggler"

        type="button"

        data-bs-toggle="collapse"

        data-bs-target="#menu"

        aria-controls="menu"

        aria-expanded="false"

        aria-label="Mostrar / Ocultar Menu"

    >

        <span class="navbar-toggler-icon"></span>

    </button>



    <!-- Menu de navegacion -->

    <div class="collapse navbar-collapse" id="menu">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>



            <!-- Dropdown -->

            <li class="nav-item dropup">

                <a 

                    href="#" 

                    class="nav-link dropdown-toggle"

                    role="button"

                    data-bs-toggle="dropdown"

                    aria-expanded="false"

                    id="dropdown-menu"

                >

                    Categorias

                </a>



                <ul class="dropdown-menu" aria-labelledby="dropdown-menu">

                    <li><a href="#" class="dropdown-item">Elemento 1</a></li>

                    <li><a href="#" class="dropdown-item">Elemento 2</a></li>

                    <li><a href="#" class="dropdown-item">Elemento 3</a></li>

                </ul>

            </li>



            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>

            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>

        </ul>



        <form action="" class="d-flex">

            <input type="search" class="form-control me-2" placeholder="Buscar" aria-label="Buscar">

            <button class="btn btn-outline-light" type="button">Buscar</button>

        </form>

    </div>

</div>

</nav>



<div class="container">

<div class="row">

    <div class="col">

        <h1>Bienvenido a FiveFingers</h1>

    </div>

</div>

</div>


