<div class="container">

		<div class="row mt-5">

			<div class="col">

				<ul class="d-flex align-items-center nav">

					<li><%= link_to "Seguir comprando", store_index_path %> </li>

					<li><a href="#" class="nav-link">Pagar</a></li>

				</ul>
      </div>
    </div>
</div>

<h2>Su carro FiveFingers</h2>
<ul>    
  <% @cart.line_items.each do |item| %>
    <li><%= item.product.title %></li>
  <% end %>
</ul>
